
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css">
    .myTable,.table th{text-align:center}*{margin:0;padding:0}@import url(https://fonts.googleapis.com/css?family=Exo);body{font-family:Exo,sans-serif}.myTable{margin-top:50px}.myAlert{margin:50px 0 0}.alert h4{margin:0}span{color:red}.footer{padding-top:235px}
  </style>
</head>
  <body ng-app="myApp" ng-controller="myController">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr/>
          <h3 class="text-center">Mouf Test</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-info pull-right" data-toggle="modal" data-target="#addModal">Add New</button>
          <div class="alert alert-warning fade in myAlert" ng-if="alertMassege"><a class="close" href="#" data-dismiss="alert" ng-click="clickedAlert()">×</a>
            <h4>{[{alertMassege}]}</h4>
          </div>
          <form class="form-inline">
            <input class="form-control" ng-model="search" ng-model-options='{ debounce: 1000 }' type="text"
              placeholder="Filter by" autofocus>
          </form>                      
          <table class="table table-bordered myTable">
            <tr class="text-center">
              <th>Index</th>
              <th>Brand</th>
              <th>Name</th>
              <th>Max Speed</th>
              <!-- <th>Email</th> -->
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tbody>
              <tr ng-repeat="car in filteredCars | filter:search">
                <td>{[{car.id}]}</td>
                <td>{[{car.brand.name}]}</td>
                <td>{[{car.name}]}</td>
                <td>{[{car.maxSpeed}]}</td>
                <td>
                  <button class="btn btn-warning" data-toggle="modal" data-target="#editModal" ng-click="selectCar(car)">Edit</button>
                </td>
                <td>
                  <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="selectCar(car)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <ul uib-pagination total-items="cars.length" ng-model="currentPage" items-per-page="numPerPage"></ul>
      </div>
    </div>
    <div class="container footer">
      <div class="row">
        <div class="col-md-12 text-center">
          <p> <a href="http://nnorukah.com" target="_blank">Nnorukah</a>, 2017</p>
        </div>
      </div>
    </div>
    <!-- Add Modal-->
    <div class="modal fade" id="addModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Add New</h4>
          </div>
          <div class="modal-body">
            <div class="container">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="Name">Brand</label>
                  <div class="col-sm-3">
                  <select id="brand" name="Brand" class="form-control" ng-model ="newCar.brand.id">
                      <option value="" disabled selected>Please Select</option>
                      <option ng:repeat="brand in brands" value="{[{brand.id}]}">
                          {[{brand.name}]}
                      </option>
                  </select>
                    <!-- <input class="form-control" type="text" placeholder="Enter Car Name" ng-model="newCar.name"/> -->
                  </div>
                </div>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="Name">Name</label>
                  <div class="col-sm-3">
                    <input class="form-control" type="text" placeholder="Enter Car Name" ng-model="newCar.name"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="full name">Max Speed</label>
                  <div class="col-sm-3">
                    <input class="form-control" type="text" placeholder="Enter Top Speed" ng-model="newCar.maxSpeed"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="saveCar()" data-dismiss="modal">Save</button>
            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Modal-->
    <div class="modal fade" id="editModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Edit</h4>
          </div>
          <div class="modal-body">
            <div class="container">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="Name">Name</label>
                  <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="clickedCar.name"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="full name">Max Speed</label>
                  <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="clickedCar.maxSpeed"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="updateCar()" data-dismiss="modal">Save</button>
            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Delete</h4>
          </div>
          <div class="modal-body">
            <h3>Are you sure to delete <span>{[{clickedCar.name}]}</span>?</h3>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="deleteCar()" data-dismiss="modal">Yes</button>
            <button class="btn btn-primary" type="button" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript">
      var myApp = angular.module('myApp', ['restangular', 'ui.bootstrap']);
  myApp.config(function($interpolateProvider){
      $interpolateProvider.startSymbol("{[{").endSymbol("}]}");
    })
    .config(function(RestangularProvider) {
      RestangularProvider.setBaseUrl('http://mouf.dev'); 
      RestangularProvider.setDefaultHeaders({
        "Content-Type": "application/json",
        "X-Requested-With": "XMLHttpRequest"
      });
      RestangularProvider.addResponseInterceptor(function(data, operation, what, url, response, deferred) {
          var extractedData;
          if (operation === 'getList') {
            extractedData = data.data;
          }else {
            extractedData = data.data;
          }
          return extractedData;
      });      

  })
    .filter('searchFor', function(){
    return function(arr, searchString){
        if(!searchString){
            return arr;
        }
        var result = [];
        searchString = searchString.toLowerCase();
        Restangular.all('cars').getList().then(function (data) {
          angular.forEach(arr, function(item){
              if(item.title.toLowerCase().indexOf(searchString) !== -1){
              result.push(item);
          }
          });          
        })
        return result;
    };
});
myApp.controller("myController", function($scope, Restangular){
    $scope.cars = [];
    // $scope.totalItems = 6;
    // $scope.carsLength = $scope.cars.length;
     $scope.filteredCars = []
    ,$scope.currentPage = 1
    ,$scope.numPerPage = 2;
    // ,$scope.maxSize = 5;

    var baseCars = Restangular.all('cars');    
    var baseBrands = Restangular.all('brand');    
    function cars_init() {
      baseCars.getList()
      .then(function(data) {
        var begin = (($scope.currentPage - 1) * $scope.numPerPage)
        , end = begin + $scope.numPerPage;
        
        
        $scope.cars = data;
        // $scope.totalItems = $scope.cars.length;
        $scope.filteredCars = $scope.cars.slice(begin, end);
        console.log($scope);
      });
    }

    function brands_init() {
      baseBrands.getList()
      .then(function(data) {
        $scope.brands = data;
        // console.log($scope.brands);
      });
    }

    cars_init();
    brands_init();

    $scope.newCar = {};
    $scope.clickedCar = {};
    $scope.alertMassege = "";

    
    $scope.saveCar = function(){
        console.log($scope.newCar);
        $scope.newCar.brand = $scope.brands.find(function(brand) {
          return brand.id == $scope.newCar.brand.id;
        })
        $scope.cars.push($scope.newCar);
        baseCars.post($scope.newCar).then(function() {
            console.log("Object saved OK");
          }, function() {
            console.log("There was an error saving");
          });        
        $scope.newCar = {};
        
        $scope.alertMassege = "New item add on list successfully!!";
    };
    
    
    $scope.selectCar = function(car){
        // console.log(car);
        $scope.clickedCar = car;
    };
    
    $scope.updateCar = function (){
        baseCars.getList().then(function(cars) {
          // console.log($scope.clickedCar.id);
          var selectedCar = cars.find(function(car) {
            return car.id == $scope.clickedCar.id;
          });
          console.log(selectedCar);
          selectedCar.name = $scope.clickedCar.name;
          selectedCar.maxSpeed = $scope.clickedCar.maxSpeed;
          selectedCar.put().then(function() {
            console.log("Object updated ok");
          });
        })
        $scope.alertMassege = "Update Successfully!!";
    };
    
    
    $scope.deleteCar = function(){
        baseCars.getList().then(function(cars) {
          // console.log($scope.clickedCar.id);
          var selectedCar = cars.find(function(car) {
            return car.id == $scope.clickedCar.id;
          });
          console.log(selectedCar);
          // console.log(Object.getOwnPropertyNames(selectedCar))
          selectedCar.customGET("delete");
        })      
        $scope.cars.splice($scope.cars.indexOf($scope.clickedCar), 1);
        $scope.alertMassege = "Deleted successfully!!";
    };
    
    $scope.clickedAlert = function(){
        $scope.alertMassege = "";
    };

     $scope.$watch('currentPage + numPerPage', function() {
      cars_init()
      });    
});
    
    </script>
  </body>
</html>